<div class="content-container">
  <div class="main-content">
    <p *ngFor="let content of pageContent" class="content-item" [innerHTML]="content | safeHtml" (mouseup)="showContextMenu($event)"></p>
  </div>

  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

<div *ngIf="isContextMenuVisible" class="context-menu" [ngStyle]="{ top: contextMenuPosition.y + 'px', left: contextMenuPosition.x + 'px' }">
  <div class="checkbox-container">
    <input type="checkbox" *ngFor="let color of colors; let i = index" [style.backgroundColor]="color" (click)="selectColor(i)" [checked]="selectedColorIndex === i" />
  </div>

  <div class="button-container">
    <button (click)="highlightText()">Save Highlight</button>
    <button (click)="addNote()">Add Note</button>
    <button (click)="hideContextMenu()">Cancel</button>
  </div>
</div>
